@model List<HostelManagementApp.Models.AppUser>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index - App User listing";
}

INdex of appuser - listing


<h1>
    hello
</h1>
<div class="table-responsive">

    <table class="table table-sm table-light">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    <tr class=@(i%2==0 ? "table-success" : "table-info")>
                        <th scope="row">@item.AppUserId</th>
                        <td>@item.Name</td>
                        <td>@item.DOB</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-controller="AppUser" asp-action="ViewDetails" class="btn btn-success btn-xs " data-placement="top" data-toggle="tooltip" data-original-title="View" >
                                <i class="fa fa-check-square-o"></i>
                            </a>
                            <a href="#" class="btn btn-warning btn-xs " data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-danger btn-xs " data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            }
            @*<tr class="table-primary">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td></td>
                </tr>
                <tr lass="table-secondary">
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td></td>
                </tr>
                <tr class="table-success">
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                </tr>
                <tr class="table-info">
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                </tr>
                <tr class="table-light">
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td></td>
                </tr>*@
        </tbody>
    </table>

</div>