@model IEnumerable<BlogSite.Models.Book>

@{
    ViewData["Title"] = "GetAllBooks";
    Layout = "~/Views/Shared/_homepgLayout.cshtml";
}

<h1>GetAllBooks</h1>

<p>
    <a asp-action="AddNewBook">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <partial name="_bookDetails" model="@item"/>
        
    </div>
    }

</div>
